In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df= pd.read_csv("stage_2_output.csv")
df

,_key,id,price,bedrooms,bathrooms,area/m2,area/sq_ft,predictions/human/0,predictions/human/1,predictions/ai/0,predictions/ai/1,rationales/human/0,rationales/ai/0,rationales/human_rationale,rationales/ai_rationale,quality_ai,responses/ai/0,responses/human/0,responses/verdict
0,26_1,26,1290000,4,4.0,460,4954,700000,800000,500000,600000,False,False,NaN,NaN,0,4,3,No preference
1,26_2,26,1290000,4,4.0,460,4954,700000,800000,500000,600000,True,True,"Beautiful furniture, cozy atmosphere. But over...",The property has four bedrooms and four bathro...,0,4,4,No preference
2,26_3,26,1290000,4,4.0,460,4954,800000,900000,500000,600000,False,True,NaN,The property has four bedrooms and four bathro...,0,4,4,No preference
3,26_4,26,1290000,4,4.0,460,4954,700000,800000,500000,600000,True,True,"Beautiful furniture, cozy atmosphere. But over...",The property has four bedrooms and four bathro...,0,4,3,AI
4,26_5,26,1290000,4,4.0,460,4954,800000,900000,500000,600000,False,True,NaN,The property has four bedrooms and four bathro...,0,4,2,AI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,50_20,50,415000,3,2.0,189,2034,500000,600000,200000,300000,True,True,it has large compound\r\nit has well decorated...,The property has three bedrooms and two bathro...,1,4,4,Human
606,50_21,50,415000,3,2.0,189,2034,500000,600000,200000,300000,False,True,NaN,The property has three bedrooms and two bathro...,1,4,1,AI
607,50_22,50,415000,3,2.0,189,2034,600000,700000,200000,300000,True,True,Spacious house. Large rooms. Everything is spa...,The property has three bedrooms and two bathro...,1,4,2,AI
608,50_23,50,415000,3,2.0,189,2034,500000,600000,200000,300000,False,True,NaN,The property has three bedrooms and two bathro...,1,5,2,AI
609,50_24,50,415000,3,2.0,189,2034,500000,600000,200000,300000,True,False,it has large compound\r\nit has well decorated...,NaN,1,3,5,Human

In [5]:
# Select the column to be encoded
column = df['responses/verdict']

# Apply label encoding
label_encoder = LabelEncoder()
encoded_column = label_encoder.fit_transform(column)

# Replace the original column with the encoded values
df['responses/verdict'] = encoded_column

In [6]:
df

,_key,id,price,bedrooms,bathrooms,area/m2,area/sq_ft,predictions/human/0,predictions/human/1,predictions/ai/0,predictions/ai/1,rationales/human/0,rationales/ai/0,rationales/human_rationale,rationales/ai_rationale,quality_ai,responses/ai/0,responses/human/0,responses/verdict
0,26_1,26,1290000,4,4.0,460,4954,700000,800000,500000,600000,False,False,NaN,NaN,0,4,3,2
1,26_2,26,1290000,4,4.0,460,4954,700000,800000,500000,600000,True,True,"Beautiful furniture, cozy atmosphere. But over...",The property has four bedrooms and four bathro...,0,4,4,2
2,26_3,26,1290000,4,4.0,460,4954,800000,900000,500000,600000,False,True,NaN,The property has four bedrooms and four bathro...,0,4,4,2
3,26_4,26,1290000,4,4.0,460,4954,700000,800000,500000,600000,True,True,"Beautiful furniture, cozy atmosphere. But over...",The property has four bedrooms and four bathro...,0,4,3,0
4,26_5,26,1290000,4,4.0,460,4954,800000,900000,500000,600000,False,True,NaN,The property has four bedrooms and four bathro...,0,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,50_20,50,415000,3,2.0,189,2034,500000,600000,200000,300000,True,True,it has large compound\r\nit has well decorated...,The property has three bedrooms and two bathro...,1,4,4,1
606,50_21,50,415000,3,2.0,189,2034,500000,600000,200000,300000,False,True,NaN,The property has three bedrooms and two bathro...,1,4,1,0
607,50_22,50,415000,3,2.0,189,2034,600000,700000,200000,300000,True,True,Spacious house. Large rooms. Everything is spa...,The property has three bedrooms and two bathro...,1,4,2,0
608,50_23,50,415000,3,2.0,189,2034,500000,600000,200000,300000,False,True,NaN,The property has three bedrooms and two bathro...,1,5,2,0
609,50_24,50,415000,3,2.0,189,2034,500000,600000,200000,300000,True,False,it has large compound\r\nit has well decorated...,NaN,1,3,5,1

0 = AI, 1= Human, 2= No preference

In [11]:
dtype(df['rationales/human/0'])

NameError: name 'dtype' is not defined

In [19]:


# Assuming you have a DataFrame named 'df' containing the columns 'rationeles.human.0' and 'rationeles.ai.0'
# Replace 'df' with your actual DataFrame name and adjust the column names accordingly

# Group where both columns are False
group_both_false = df[(df['rationales/human/0'] == False) & (df['rationales/ai/0'] == False)]

# Group where rationeles.human.0 is True and rationeles.ai.0 is False
group_human_true_ai_false = df[(df['rationales/human/0'] == True) & (df['rationales/ai/0'] == False)]

# Group where rationeles.human.0 is False and rationeles.ai.0 is True
group_human_false_ai_true = df[(df['rationales/human/0'] == False) & (df['rationales/ai/0'] == True)]

# Group where both columns are False
group_both_true = df[(df['rationales/human/0'] == True) & (df['rationales/ai/0'] == True)]

# Print the subgroups to verify the results
print("Group where both columns are False:")
print(group_both_false)
group_both_false.to_csv('group_both_false.csv', index=False)

print("Group where rationeles.human.0 is True and rationeles.ai.0 is False:")
print(group_human_true_ai_false)
group_human_true_ai_false.to_csv('group_human_true_ai_false.csv', index=False)

print("Group where rationeles.human.0 is False and rationeles.ai.0 is True:")
print(group_human_false_ai_true)
group_human_false_ai_true.to_csv('group_human_false_ai_true.csv', index=False)


print("Group where both columns are True:")
print(group_both_true)
group_both_true.to_csv('group_both_true.csv', index=False)

Group where both columns are False:
      _key  id    price  bedrooms  bathrooms  area/m2  area/sq_ft  \
0     26_1  26  1290000         4        4.0      460        4954
6     26_7  26  1290000         4        4.0      460        4954
10   26_11  26  1290000         4        4.0      460        4954
14   26_15  26  1290000         4        4.0      460        4954
15   26_16  26  1290000         4        4.0      460        4954
..     ...  ..      ...       ...        ...      ...         ...
580  49_13  49   419000         4        3.0      363        3904
581  49_14  49   419000         4        3.0      363        3904
582  49_15  49   419000         4        3.0      363        3904
602  50_17  50   415000         3        2.0      189        2034
603  50_18  50   415000         3        2.0      189        2034

     predictions/human/0  predictions/human/1  predictions/ai/0  \
0                 700000               800000            500000
6                 700000               800000            500000
10                700000               800000            500000
14                800000               900000            500000
15                800000               900000            500000
..                   ...                  ...               ...
580               200000               300000            250000
581               200000               300000            250000
582               200000               300000            250000
602               500000               600000            200000
603               500000               600000            200000

     predictions/ai/1  rationales/human/0  rationales/ai/0  \
0              600000               False            False
6              600000               False            False
10             600000               False            False
14             600000               False            False
15             600000               False            False
..                ...                 ...              ...
580            350000               False            False
581            350000               False            False
582            350000               False            False
602            300000               False            False
603            300000               False            False

    rationales/human_rationale rationales/ai_rationale  quality_ai  \
0                          NaN                     NaN           0
6                          NaN                     NaN           0
10                         NaN                     NaN           0
14                         NaN                     NaN           0
15                         NaN                     NaN           0
..                         ...                     ...         ...
580                        NaN                     NaN           0
581                        NaN                     NaN           0
582                        NaN                     NaN           0
602                        NaN                     NaN           1
603                        NaN                     NaN           1

     responses/ai/0  responses/human/0  responses/verdict
0                 4                  3                  2
6                 1                  1                  2
10                3                  4                  1
14                1                  4                  1
15                3                  3                  0
..              ...                ...                ...
580               2                  2                  2
581               2                  3                  2
582               4                  4                  0
602               3                  4                  1
603               2                  2                  2

[144 rows x 19 columns]
Group where rationeles.human.0 is True and rationeles.ai.0 is False:
      _key  id    price  bedrooms  bathrooms  area/m2  area/sq_ft  \
13   26_14  26  1290000         4        4.0      460        4954
18   26_19  26  1290000         4        4.0      460        4954
19   26_20  26  1290000         4        4.0      460        4954
20   26_21  26  1290000         4        4.0      460        4954
21   26_22  26  1290000         4        4.0      460        4954
..     ...  ..      ...       ...        ...      ...         ...
595  50_10  50   415000         3        2.0      189        2034
596  50_11  50   415000         3        2.0      189        2034
599  50_14  50   415000         3        2.0      189        2034
600  50_15  50   415000         3        2.0      189        2034
609  50_24  50   415000         3        2.0      189        2034

     predictions/human/0  predictions/human/1  predictions/ai/0  \
13                800000               900000            500000
18                800000               900000            500000
19                700000               800000            500000
20                800000               900000            500000
21                800000               900000            500000
..                   ...                  ...               ...
595               600000               700000            200000
596               600000               700000            200000
599               500000               600000            200000
600               500000               600000            200000
609               500000               600000            200000

     predictions/ai/1  rationales/human/0  rationales/ai/0  \
13             600000                True            False
18             600000                True            False
19             600000                True            False
20             600000                True            False
21             600000                True            False
..                ...                 ...              ...
595            300000                True            False
596            300000                True            False
599            300000                True            False
600            300000                True            False
609            300000                True            False

                            rationales/human_rationale  \
13   Nice area, lots of free Parking space for cars...
18   Nice area, lots of free Parking space for cars...
19   Beautiful furniture, cozy atmosphere. But over...
20   Nice area, lots of free Parking space for cars...
21   Nice area, lots of free Parking space for cars...
..                                                 ...
595  Spacious house. Large rooms. Everything is spa...
596  Spacious house. Large rooms. Everything is spa...
599  it has large compound\r\nit has well decorated...
600  it has large compound\r\nit has well decorated...
609  it has large compound\r\nit has well decorated...

    rationales/ai_rationale  quality_ai  responses/ai/0  responses/human/0  \
13                      NaN           0               1                  4
18                      NaN           0               2                  4
19                      NaN           0               2                  2
20                      NaN           0               3                  3
21                      NaN           0               4                  3
..                      ...         ...             ...                ...
595                     NaN           1               2                  3
596                     NaN           1               2                  4
599                     NaN           1               4                  3
600                     NaN           1               2                  4
609                     NaN           1               3                  5

     responses/verdict
13                   1
18                   1
19                   0
20                   0
21                   0
..                 ...
595                  1
596                  1
599                  0
600                  1
609                  1

[150 rows x 19 columns]
Group where rationeles.human.0 is False and rationeles.ai.0 is True:
      _key  id    price  bedrooms  bathrooms  area/m2  area/sq_ft  \
2     26_3  26  1290000         4        4.0      460        4954
4     26_5  26  1290000         4        4.0      460        4954
5     26_6  26  1290000         4        4.0      460        4954
7     26_8  26  1290000         4        4.0      460        4954
8     26_9  26  1290000         4        4.0      460        4954
..     ...  ..      ...       ...        ...      ...         ...
589   50_4  50   415000         3        2.0      189        2034
590   50_5  50   415000         3        2.0      189        2034
592   50_7  50   415000         3        2.0      189        2034
606  50_21  50   415000         3        2.0      189        2034
608  50_23  50   415000         3        2.0      189        2034

     predictions/human/0  predictions/human/1  predictions/ai/0  \
2                 800000               900000            500000
4                 800000               900000            500000
5                 700000               800000            500000
7                 800000               900000            500000
8                 800000               900000            500000
..                   ...                  ...               ...
589               600000               700000            200000
590               600000               700000            200000
592               500000               600000            200000
606               500000               600000            200000
608               500000               600000            200000

     predictions/ai/1  rationales/human/0  rationales/ai/0  \
2              600000               False             True
4              600000               False             True
5              600000               False             True
7              600000               False             True
8              600000               False             True
..                ...                 ...              ...
589            300000               False             True
590            300000               False             True
592            300000               False             True
606            300000               False             True
608            300000               False             True

    rationales/human_rationale  \
2                          NaN
4                          NaN
5                          NaN
7                          NaN
8                          NaN
..                         ...
589                        NaN
590                        NaN
592                        NaN
606                        NaN
608                        NaN

                               rationales/ai_rationale  quality_ai  \
2    The property has four bedrooms and four bathro...           0
4    The property has four bedrooms and four bathro...           0
5    The property has four bedrooms and four bathro...           0
7    The property has four bedrooms and four bathro...           0
8    The property has four bedrooms and four bathro...           0
..                                                 ...         ...
589  The property has three bedrooms and two bathro...           1
590  The property has three bedrooms and two bathro...           1
592  The property has three bedrooms and two bathro...           1
606  The property has three bedrooms and two bathro...           1
608  The property has three bedrooms and two bathro...           1

     responses/ai/0  responses/human/0  responses/verdict
2                 4                  4                  2
4                 4                  2                  0
5                 5                  1                  0
7                 4                  2                  0
8                 4                  3                  0
..              ...                ...                ...
589               4                  2                  0
590               5                  1                  0
592               5                  2                  0
606               4                  1                  0
608               5                  2                  0

[161 rows x 19 columns]
Group where both columns are True:
      _key  id    price  bedrooms  bathrooms  area/m2  area/sq_ft  \
1     26_2  26  1290000         4        4.0      460        4954
3     26_4  26  1290000         4        4.0      460        4954
9    26_10  26  1290000         4        4.0      460        4954
22   26_23  26  1290000         4        4.0      460        4954
23   26_24  26  1290000         4        4.0      460        4954
..     ...  ..      ...       ...        ...      ...         ...
598  50_13  50   415000         3        2.0      189        2034
601  50_16  50   415000         3        2.0      189        2034
604  50_19  50   415000         3        2.0      189        2034
605  50_20  50   415000         3        2.0      189        2034
607  50_22  50   415000         3        2.0      189        2034

     predictions/human/0  predictions/human/1  predictions/ai/0  \
1                 700000               800000            500000
3                 700000               800000            500000
9                 700000               800000            500000
22                800000               900000            500000
23                800000               900000            500000
..                   ...                  ...               ...
598               600000               700000            200000
601               600000               700000            200000
604               500000               600000            200000
605               500000               600000            200000
607               600000               700000            200000

     predictions/ai/1  rationales/human/0  rationales/ai/0  \
1              600000                True             True
3              600000                True             True
9              600000                True             True
22             600000                True             True
23             600000                True             True
..                ...                 ...              ...
598            300000                True             True
601            300000                True             True
604            300000                True             True
605            300000                True             True
607            300000                True             True

                            rationales/human_rationale  \
1    Beautiful furniture, cozy atmosphere. But over...
3    Beautiful furniture, cozy atmosphere. But over...
9    Beautiful furniture, cozy atmosphere. But over...
22   Nice area, lots of free Parking space for cars...
23   Nice area, lots of free Parking space for cars...
..                                                 ...
598  Spacious house. Large rooms. Everything is spa...
601  Spacious house. Large rooms. Everything is spa...
604  it has large compound\r\nit has well decorated...
605  it has large compound\r\nit has well decorated...
607  Spacious house. Large rooms. Everything is spa...

                               rationales/ai_rationale  quality_ai  \
1    The property has four bedrooms and four bathro...           0
3    The property has four bedrooms and four bathro...           0
9    The property has four bedrooms and four bathro...           0
22   The property has four bedrooms and four bathro...           0
23   The property has four bedrooms and four bathro...           0
..                                                 ...         ...
598  The property has three bedrooms and two bathro...           1
601  The property has three bedrooms and two bathro...           1
604  The property has three bedrooms and two bathro...           1
605  The property has three bedrooms and two bathro...           1
607  The property has three bedrooms and two bathro...           1

     responses/ai/0  responses/human/0  responses/verdict
1                 4                  4                  2
3                 4                  3                  0
9                 2                  1                  0
22                4                  3                  0
23                5                  4                  0
..              ...                ...                ...
598               4                  3                  0
601               5                  3                  0
604               5                  3                  0
605               4                  4                  1
607               4                  2                  0

[155 rows x 19 columns]